# 构建产物
build/
dist/
release/
*.spec

# Python 虚拟环境
.venv/
.venv39/
venv/

# Python 缓存
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# 日志文件
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# 临时文件
*.tmp
*.bak

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
# cache
cache/
